<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Holiday.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>HolidayWidgetExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>LiveActivityWidgetExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>MPBdigitalTestprice.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>MyComolicationYesExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>WatchEvent Watch App.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5D499D1E2DB8029500AA6B05</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5D834DEF2BC17F0E00AF1153</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5D93BE9C2D99805100FEC084</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5DC604452D5B865800A7419E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5DC604542D5B865C00A7419E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5DC6045E2D5B865C00A7419E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
